apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyfin
  namespace: media
  labels:
    app: jellyfin
spec:
  selector:
    matchLabels:
      app: jellyfin
  replicas: 1
  template:
    metadata:
      labels:
        app: jellyfin
    spec:
      # nodeName: "k-gpu"
      tolerations:
        - key: "dedicated"
          operator: "Equal"
          value: "gpu"
          effect: "NoSchedule"
      containers:
        - name: jellyfin
          image: lscr.io/linuxserver/jellyfin:latest
          resources:
            # requests:
            #     cpu: 100m
            #     memory: 100Mi
            limits:
              gpu.intel.com/i915: "1"

          #     cpu: 100m
          #     memory: 100Mi
          livenessProbe:
            tcpSocket:
              port: 8096
            initialDelaySeconds: 60
            timeoutSeconds: 5
            successThreshold: 2
            failureThreshold: 10
            periodSeconds: 15
          readinessProbe:
            httpGet:
              path: /
              port: 8096
            initialDelaySeconds: 60
            timeoutSeconds: 5
            successThreshold: 2
            failureThreshold: 10
            periodSeconds: 15
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: "Europe/Amsterdam"
            - name: DOCKER_MODS
              value: "linuxserver/mods:jellyfin-opencl-intel"
          ports:
            - containerPort: 8096
              name: http
          volumeMounts:
            - name: data
              mountPath: /config
            - name: library
              mountPath: /library
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: data-jellyfin
        - name: library
          persistentVolumeClaim:
            claimName: library
      restartPolicy: Always
