apiVersion: v1
kind: Service
metadata:
  name: copyparty
  namespace: default
spec:
  selector:
    app: copyparty
  type: ClusterIP
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: http
