apiVersion: v1
kind: Service
metadata:
  name: actual-budget-service
  namespace: default
spec:
  selector:
    app: actual-budget-service
  type: ClusterIP
  ports:
    - name: http
      protocol: TCP
      port: 5006
      targetPort: 5006
