apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: monitoring-stack
  namespace: monitoring
spec:
  chart:
    spec:
      version: 78.5.0
      chart: kube-prometheus-stack
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  interval: 24h
  values:
    crds:
      upgradeJob:
        enabled: true
        forceConflicts: true
    grafana:
      admin:
        ## Name of the secret. Can be templated.
        existingSecret: grafana-user
        userKey: admin-user
        passwordKey: admin-password
      additionalDataSources:
        - name: loki
          type: loki
          url: http://loki-gateway.monitoring
      sidecar:
        notifiers:
          enabled: true
          label: grafana_notifier
          labelValue: "1"
          searchNamespace: ALL
          # search in configmap, secret or both
          resource: both
          reloadURL: "http://monitoring-stack-grafana.monitoring/api/admin/provisioning/alerting/reload"
        alerts:
          enabled: true
          label: grafana_alert
          labelValue: "1"
          searchNamespace: ALL
          # search in configmap, secret or both
          resource: both
          reloadURL: "http://monitoring-stack-grafana.monitoring/api/admin/provisioning/alerting/reload"

    prometheus:
      prometheusSpec:
        podMonitorSelectorNilUsesHelmValues: false
        serviceMonitorSelectorNilUsesHelmValues: false
        storageSpec:
          volumeClaimTemplate:
            spec:
              storageClassName: ceph-block
              accessModes: ["ReadWriteOnce"]
              resources:
                requests:
                  storage: 50Gi

    customRules:
      KubePodCrashLooping:
        severity: "critical"
        for: "2m"
    defaultRules:
      create: true
      rules:
        alertmanager: true
        etcd: true
        configReloaders: true
        general: true
        k8sContainerCpuUsageSecondsTotal: true
        k8sContainerMemoryCache: true
        k8sContainerMemoryRss: true
        k8sContainerMemorySwap: true
        k8sContainerResource: true
        k8sContainerMemoryWorkingSetBytes: true
        k8sPodOwner: true
        kubeApiserverAvailability: true
        kubeApiserverBurnrate: true
        kubeApiserverHistogram: true
        kubeApiserverSlos: true
        kubeControllerManager: true
        kubelet: true
        kubeProxy: false
        kubePrometheusGeneral: true
        kubePrometheusNodeRecording: true
        kubernetesApps: true
        kubernetesResources: true
        kubernetesStorage: true
        kubernetesSystem: true
        kubeSchedulerAlerting: true
        kubeSchedulerRecording: true
        kubeStateMetrics: true
        network: true
        node: true
        nodeExporterAlerting: true
        nodeExporterRecording: true
        prometheus: true
        prometheusOperator: true
        windows: true
    kubeProxy:
      enabled: false
    kubeEtcd:
      enabled: true
      endpoints:
        - 10.10.102.11
