apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: media.i.as216455.net
  namespace: traefik
spec:
  entryPoints:
    - internal
    - internalsecure
  routes:
    - kind: Rule
      match: Host(`radarr.media.i.as216455.net`)
      services:
        - name: radarr
          namespace: media
          port: http

    - kind: Rule
      match: Host(`sonarr.media.i.as216455.net`)
      services:
        - name: sonarr
          namespace: media
          port: http

    - kind: Rule
      match: Host(`sabnzbd.media.i.as216455.net`)
      services:
        - name: sabnzbd
          namespace: media
          port: http

    - kind: Rule
      match: Host(`profilarr.media.i.as216455.net`)
      services:
        - name: profilarr
          namespace: media
          port: http

  tls:
    secretName: media.i.as216455.net-prod-tls
