kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: certs
  namespace: traefik
  # annotations:
  # nfs.io/storage-path: "test-path" # not required, depending on whether this annotation was shown in the storage class description
spec:
  storageClassName: nfs
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 64Mi
