apiVersion: apps/v1
kind: Deployment
metadata:
  name: achtergrondje
  namespace: default
  labels:
    app: achtergrondje
spec:
  selector:
    matchLabels:
      app: achtergrondje
  replicas: 2
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: achtergrondje
    spec:
      nodeSelector:
        kubernetes.io/hostname: kub-4
      containers:
        - name: achtergrondje
          image: ghcr.io/dev-shit/aaaah:main
          imagePullPolicy: Always
          resources:
            limits:
              cpu: 100m
              memory: 150Mi
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 60
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 3
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            timeoutSeconds: 2
            successThreshold: 1
            failureThreshold: 3
            periodSeconds: 10
          ports:
            - containerPort: 80
              name: web-http
      restartPolicy: Always
