apiVersion: traefik.io/v1alpha1
kind: IngressRouteUDP
metadata:
  name: dns-udp-ingress
  namespace: traefik
spec:
  entryPoints:
    - dns-udp
  routes:
    - services:
        - name: nameserver-coredns
          namespace: dns
          port: 53
