apiVersion: apps/v1
kind: Deployment
metadata:
  name: yucky-rs-matrix
  namespace: discord-bots
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: yucky-rs-matrix
  template:
    metadata:
      labels:
        app: yucky-rs-matrix
    spec:
      imagePullSecrets:
        - name: ghcr-login-secret
      nodeSelector:
        kubernetes.io/hostname: k-work-3
      containers:
        - name: yucky-rs-matrix
          # image: ghcr.io/maishond/yucky.rs-matrix:main
          image: ghcr.io/maishond/yucky.rs-matrix@sha256:883f5f1d5aceafe94bc28361ccf7edba27d0305d4a5f3d89b82cd60f218947a2
          imagePullPolicy: Always
          # resources:
          #   limits:
          #     memory: "128Mi"
          #     cpu: "2000m"
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: yucky-rs-matrix
                  key: database_url
            - name: MATRIX_HOMESERVER
              valueFrom:
                secretKeyRef:
                  name: yucky-rs-matrix
                  key: matrix_homeserver
            - name: MATRIX_USERNAME
              valueFrom:
                secretKeyRef:
                  name: yucky-rs-matrix
                  key: matrix_username
            - name: MATRIX_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: yucky-rs-matrix
                  key: matrix_password
            - name: PREFIX
              valueFrom:
                secretKeyRef:
                  name: yucky-rs-matrix
                  key: prefix
            - name: HA_TOKEN
              valueFrom:
                secretKeyRef:
                  name: yucky-rs-matrix
                  key: ha-token
            - name: ETHUX_TOKEN
              valueFrom:
                secretKeyRef:
                  name: yucky-rs-matrix
                  key: ethux_token
            - name: ETHUX_MODEL
              valueFrom:
                secretKeyRef:
                  name: yucky-rs-matrix
                  key: ethux_model
            - name: ETHUX_PROMPT
              valueFrom:
                secretKeyRef:
                  name: yucky-rs-matrix
                  key: ethux_prompt
            - name: STARBOARD_EMOTE
              valueFrom:
                secretKeyRef:
                  name: yucky-rs-matrix
                  key: starboard_emote
            # - name: ETHUX_PROMPT
            #   valueFrom:
            #     secretKeyRef:
            #       name: yucky-rs-matrix
            #       key: starboard_limit
            - name: STARBOARD_CHANNEL
              valueFrom:
                secretKeyRef:
                  name: yucky-rs-matrix
                  key: starboard_room
            - name: GOBLIN_CHANNEL
              valueFrom:
                secretKeyRef:
                  name: yucky-rs-matrix
                  key: goblin_room
            - name: GOBLIN_DELAY
              valueFrom:
                secretKeyRef:
                  name: yucky-rs-matrix
                  key: goblin_delay
            - name: JITSI_URL
              valueFrom:
                secretKeyRef:
                  name: yucky-rs-matrix
                  key: jitsi_url
            - name: JITSI_ROOM
              valueFrom:
                secretKeyRef:
                  name: yucky-rs-matrix
                  key: jitsi_room
