apiVersion: apps/v1
kind: Deployment
metadata:
  name: actual-budget
  namespace: default
  labels:
    app: actual-budget
spec:
  selector:
    matchLabels:
      app: actual-budget
  replicas: 1
  # strategy:
  #   rollingUpdate:
  #     maxSurge: 25%
  #     maxUnavailable: 25%
  #   type: RollingUpdate
  template:
    metadata:
      labels:
        app: actual-budget
    spec:
      # initContainers:
      # Init containers are exactly like regular containers, except:
      # - Init containers always run to completion.
      # - Each init container must complete successfully before the next one starts.
      containers:
        - name: actual-budget
          image: actualbudget/actual-server:26.2.1
          imagePullPolicy: Always
          # resources:
          # requests:
          # cpu: 100m
          # memory: 100Mi
          # limits:
          # cpu: 100m
          # memory: 100Mi
          # livenessProbe:
          #   tcpSocket:
          #     port: 80
          #   initialDelaySeconds: 5
          #   timeoutSeconds: 5
          #   successThreshold: 1
          #   failureThreshold: 3
          #   periodSeconds: 10
          # readinessProbe:
          #   httpGet:
          #     path: /_status/healthz
          #     port: 80
          #   initialDelaySeconds: 5
          #   timeoutSeconds: 2
          #   successThreshold: 1
          #   failureThreshold: 3
          #   periodSeconds: 10
          ports:
            - containerPort: 5006
              name: http
          volumeMounts:
            - name: actual-budget-volume
              mountPath: "/data"

      volumes:
        - name: actual-budget-volume
          persistentVolumeClaim:
            claimName: actual-budget-volume2
      restartPolicy: Always
