apiVersion: apps/v1
kind: Deployment
metadata:
  name: dailyfloppa
  namespace: discord-bots
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dailyfloppa
  template:
    metadata:
      labels:
        app: dailyfloppa
    spec:
      containers:
        - name: dailyfloppa
          image: stingalleman/floppabot:latest
          resources:
            limits:
              memory: "128Mi"
              cpu: "500m"
          env:
            - name: CHANNEL_ID
              valueFrom:
                secretKeyRef:
                  name: dailyfloppa
                  key: discord_channel_id
            - name: BOT_TOKEN
              valueFrom:
                secretKeyRef:
                  name: dailyfloppa
                  key: discord_bot_token
