control_planes:
  hosts:
    kub-adm1.local.boem:
  vars:
    ansible_user: server

worker_nodes:
  hosts:
    kub-[2:4].local.boem:
  vars:
    ansible_user: server
    # k8s_version: "1.25.12-00"

vyos:
  hosts:
    10.10.10.1:
  vars:
    ansible_user: vyos
    ansible_python_interpreter: /usr/bin/python3
    # ansible_ssh_pass: vyos
    ansible_network_os: vyos
    ansible_connection: network_cli
    netbox_url: https://netbox.cluster.boem
