apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: isaensting.nl
  namespace: traefik
spec:
  entryPoints:
    - web
    - websecure
  routes:
    - kind: Rule
      match: Host(`sport.isaensting.nl`)
      services:
        - kind: Service
          name: sporten
          namespace: default
          port: http

  tls:
    secretName: isaensting.nl-prod-tls
