apiVersion: v1
kind: Service
metadata:
  name: vllm-service
  namespace: default
spec:
  selector:
    app: vllm
  ports:
    - name: http
      protocol: TCP
      port: 11434
      targetPort: http
