apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: monitoring-stack
  namespace: monitoring
spec:
  install:
    # disableWait: true
    crds: CreateReplace
  upgrade:
    # disableWait: true
    crds: CreateReplace
  chart:
    spec:
      version: 55.8.1
      chart: kube-prometheus-stack
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  interval: 24h
  values:
    prometheus:
      prometheusSpec:
        additionalScrapeConfigs:
          - job_name: "sflow-rt-analyzer"
            metrics_path: /prometheus/analyzer/txt
            static_configs:
              - targets: ["sflow-http.default:8008"]
          - job_name: "sflow-rt-metrics"
            metrics_path: /prometheus/metrics/ALL/ALL/txt
            static_configs:
              - targets: ["sflow-http.default:8008"]
            metric_relabel_configs:
              - source_labels: ["agent", "datasource"]
                separator: ":"
                target_label: instance
          - job_name: "sflow-rt-countries"
            metrics_path: /app/prometheus/scripts/export.js/flows/ALL/txt
            static_configs:
              - targets: ["sflow-http.default:8008"]
            params:
              metric: ["sflow_country_bps"]
              key:
                [
                  "null:[country:ipsource:both]:unknown",
                  "null:[country:ipdestination:both]:unknown",
                ]
              label: ["src", "dst"]
              value: ["bytes"]
              scale: ["8"]
              aggMode: ["sum"]
              minValue: ["1000"]
              maxFlows: ["100"]
          - job_name: "sflow-rt-asns"
            metrics_path: /app/prometheus/scripts/export.js/flows/ALL/txt
            static_configs:
              - targets: ["sflow-http.default:8008"]
            params:
              metric: ["sflow_asn_bps"]
              key:
                [
                  "null:[asn:ipsource:both]:unknown",
                  "null:[asn:ipdestination:both]:unknown",
                ]
              label: ["src", "dst"]
              value: ["bytes"]
              scale: ["8"]
              aggMode: ["sum"]
              minValue: ["1000"]
              maxFlows: ["100"]
          - job_name: "sflow-rt-frysix"
            metrics_path: /app/prometheus/scripts/export.js/flows/ALL/txt
            static_configs:
              - targets: ["sflow-http.default:8008"]
            params:
              metric: ["sflow_asn_bps_frysix"]
              key: ["asn:ip6source", "asn:ip6destination"]
              filter: ["vlan=821"]
              label: ["src", "dst"]
              value: ["bytes"]
              scale: ["8"]
              aggMode: ["sum"]
              minValue: ["1000"]
              maxFlows: ["100"]

        storageSpec:
          volumeClaimTemplate:
            spec:
              storageClassName: nfs-client
              accessModes: ["ReadWriteMany"]
              resources:
                requests:
                  storage: 20Gi
